h1 {
    font-family: "Cinzel", serif;
    font-size: $heading-size;
    font-weight: bold;
    color: $heading-color;
    line-height: 1.2;
}

h2, h3, h4, h5, h6 {
    font-family: "Cormorant Garamond", serif;
    font-size: $subheading-size;
    font-weight: 600;
    color: $heading-color;
    line-height: 1.2;
}

a {
    position: relative;

    font-size: $main-size;
    color: $accent-color;
    text-transform: uppercase;
    text-decoration: none;

    cursor: pointer;
    transition: color 0.4s ease-in-out;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 1px;
        background-color: $accent-color;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.5s ease-in-out;
    }

    &:hover {
        color: darken($accent-color, 15%);
        
        &::after {
            transform: scaleX(1);
        }
    }

    &:active {
        color: scale-color($accent-color, $lightness: -25%);
    }
}

li {
    list-style: none;
    text-transform: uppercase;
}

blockquote {
    max-width: 46rem !important;
    margin: 2rem auto !important;
    padding: 2rem 0 !important;
    position: relative;
    display: flex;
    align-items: center;
    font-family: "Cormorant Garamond", serif;
    font-size: $subheading-size;
    color: $accent-color;
    justify-content: center;
    line-height: 1.3;

    img {
        padding-right: 1rem;
    }

    &::after, &::before {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        height: 1px;
        width: 100%;
        background: $gradient-line-one;
    }

    &::before {
        top: 0.1px;
    }

    &::after {
        bottom: 0;
    }
}

cite {
    display: block;
    position: absolute;
    bottom: .5rem;
    right: 0;
    font-family: 'Montserrat';
    font-weight: 200;
    font-size: $caption-size;
    opacity: 0.4;
}