// Colors
$bg-color: #320505;
$accent-color: #EEC06A;
$heading-color: #FFDDD2;
$secondary-color: #6A4C36;
$font-color: #F7EFE5;

// Spacing
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;

// Font Size
$main-size: clamp(.9rem, 1.5vw, 1rem);
$subheading-size: clamp(1.5rem, 2vw, 2rem);
$heading-size: clamp(2rem, 3vw, 2.5rem);
$caption-size: clamp(.5rem, 1vw, .7rem);
