@use '@styles/variables' as *;

.textOuter {
    width: 50%;
    position: relative;
    padding: 5rem 1rem 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.5);
    z-index: 5;
    text-align: center;
}

@media screen and (max-width: 905px) {
    .textOuter {
        width: 100%;
        opacity: 1;
    }
}

.text {
    max-width: 40rem;
    width: 100%;
    margin: 0 auto;
    padding: 1.2rem 2rem;
}

.storyOuter {
    margin-top: 6rem;
}

.storyText {
    margin-top: 4rem;
    text-align: left;
}

.innerDivider {
    position: relative;
    margin: 5rem 0;
    height: 1px;

    &::after {
        position: absolute;
        bottom: 0;
        left: -1rem;
        right: 0;
        content: "";
        height: 1px;
        width: calc(103.5% + 1rem);
        z-index: 10;
        background: $gradient-line-two;
    }
}

.outerDivider {
    position: relative;
    margin: 7rem 0;
    height: 1px;

    &::after {
        position: absolute;
        bottom: 0;
        left: -1rem;
        right: 0;
        content: "";
        height: 1px;
        width: calc(103.5% + 1rem);
        z-index: 10;
        background: $gradient-line-one;
    }
}

.footer {
    background-color: transparent;
    margin: 8rem -1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .footerImg {
        padding-top: 10rem;
        padding-bottom: 0rem;
        background-image: url('/public/images/footer.png');
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: auto 130px;
    }

    .footerContent {
        background-color: darken($accent-color, 0);
        padding: 6rem 2rem 2rem;

        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
    }
}

