@use '@styles/variables' as *;

.storyHeading {
    margin-top: 5rem;
}

.storyHeadingNumber {
    position: relative;
    display: inline-block;
    color: $accent-color;
    font-size: clamp(1.2rem, 1.7vw, 1.8rem);

    &::before,
    &::after {
        position: absolute;
        content: '';
        top: 50%;
        width: 60px;
        transform: translateY(-50%);
        height: 1px;
        background: $gradient-line-one;
    }

    &::before {
        left: calc(-60px - .5rem);
    }

    &::after {
        right: calc(-60px - .5rem); // Keeps 1rem space from the number
    }
}

.storySubheading {
    margin-top: 0.5rem;
}

.storyHeadingCaption {
    margin-top: 1rem;
    font-weight: 300;
    color: $secondary-color;
}